<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlueProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3EC1972F1E785AB00091E05A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EC197481E785AB00091E05A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EC197531E785AB00091E05A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
